<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodmap.mapper.ShopMapper">


    <insert id="insertShop" useGeneratedKeys="true" keyProperty="shopId" keyColumn="shopId">
        INSERT INTO shop (
            shopName, password, address, contactTel, businessHours,
            category, district, description
        )
        VALUES (
                   #{shopName}, #{password}, #{address}, #{contactTel}, #{businessHours},
                   #{category}, #{district}, #{description}
               )
    </insert>

    <!--根据id删除-->
    <delete id="deleteShopById">    DELETE FROM shop WHERE shopId = #{shopId}</delete>

    <!-- 根据商铺名查询 -->
    <select id="selectByShopName" resultType="com.foodmap.entity.pojo.Shop">
        SELECT * FROM shop WHERE shopName = #{shopName}
    </select>
    <!--模糊查询-->

    <!-- 检查电话是否重复 -->
    <select id="countByContactTel" resultType="int">
        SELECT COUNT(*) FROM shop WHERE contactTel = #{contactTel}
    </select>

    <!-- 检查商铺名是否重复 -->
    <select id="countByShopName" resultType="int">
        SELECT COUNT(*) FROM shop WHERE shopName = #{shopName}
    </select>

    <!--根据分类返回结果-->
    <select id="selectShopList" resultType="com.foodmap.entity.pojo.Shop">
        SELECT
        shopId, shopName, address, category, district,
        contactTel, businessHours, description,
        compositeScore, tasteScore, environmentScore, serviceScore,
        status, createTime, updateTime
        FROM shop
        <where>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="district != null and district != ''">
                AND district = #{district}
            </if>
            AND status = 1
        </where>
        <choose>
            <when test="sortField != null and sortField != ''">
                ORDER BY
                <choose>
                    <when test="sortField == 'compositeScore'">compositeScore</when>
                    <when test="sortField == 'createTime'">createTime</when>
                    <when test="sortField == 'tasteScore'">tasteScore</when>
                    <when test="sortField == 'environmentScore'">environmentScore</when>
                    <when test="sortField == 'serviceScore'">serviceScore</when>
                    <otherwise>compositeScore</otherwise>
                </choose> DESC
            </when>
            <otherwise>
                ORDER BY compositeScore DESC
            </otherwise>
        </choose>
    </select>
    <!--根据id查询-->
    <select id="selectById" resultType="com.foodmap.entity.pojo.Shop">SELECT *FROM shop WHERE shopId = #{shopId}</select>


    <!-- 更新评分 -->
    <update id="updateScore">
        UPDATE shop SET compositeScore = #{compositeScore} WHERE shopId = #{shopId}
    </update>
    <update id="updateShopStatus"> UPDATE shop SET status = #{status} WHERE shopId = #{shopId}</update>


    <!--更新商铺信息-->
    <update id="updateShopInfo">UPDATE shop
        <set>
            <if test="shopName != null">shopName = #{shopName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="contactTel != null">contactTel = #{contactTel},</if>
            <if test="businessHours != null">businessHours = #{businessHours},</if>
            <if test="category != null">category = #{category},</if>
            <if test="district != null">district = #{district},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE shopId = #{shopId}</update>

    <select id="selectShopAuthInfo" resultType="com.foodmap.entity.dto.ShopAuthInfo">
        SELECT
            shopId,
            shopName,
            password
        FROM shop
        WHERE shopId = #{shopId}
    </select>
</mapper>